.erreur {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    &__contenu {
        margin: 10%;
        display: flex;
        max-width: 1300px;
        flex-direction: column;
        align-items: center;
        /*Adaptabilité sur tablette*/
        // @media screen and (max-width: 800px) {
        //     flex-direction: column;
        // }
    }

    &__titre {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        font-size: clamp(6rem, 4.75rem + 2.5vw, 7rem);
        text-align: center;
        padding: 20px 40px;
        // font-size: 7rem;
    }

    &__description {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        text-align: center;
        font-size: 1rem;
    }

    &__boutonAccueil {}

    &__navigation {
        display: flex;
        flex-direction: column;
        // gap: 25px;
        // width: 30%;

        &__menu {
            .menu {
                display: flex;
                flex-direction: row;

                a {
                    color: rgb(211, 206, 238);
                    font-weight: bold
                }
            }
        }
    }
}