/*-------------------------------------------------------- .categorie */
.categorie{
    .global{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__infos{
        padding: 0 10vw;
    }
}