/*-------------------------------------------------------- .destination */
.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    .global{
        max-width: 1300px;
    }
    
    &__image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            /* height: 12%; */
            // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            // border-radius: 20px;
        }
    }

    &__article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border-radius: 15px;
        // padding: 30px;
    }

    &__contenu{
        margin: 30px;
        &__titre{
            text-transform: uppercase;
        }
    }
}