.destination__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    max-width: 1000px;
    padding-bottom: 9rem;
    width: 100%;

    div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        section {
            height: auto;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 1s ease;
            display: block;
        }

        padding: 15px;

        &:hover {
            background-color: rgba($color: rgb(119, 156, 230), $alpha: 0.1);
        }
    }

    button {
        background-color: $couleur__secondaire--trespale;
        border-radius: 10px;
        border: none;
        margin-left: 20px;
        img{
            content: url("https://s2.svgbox.net/octicons.svg?ic=chevron-down");
        }
    }

    .ouvert {
        img {
            content:url("https://s2.svgbox.net/octicons.svg?ic=chevron-up");
        }
    }

    .affichage {
        max-height: 500px;
        opacity: 1;
        background-color: rgba($color: rgb(79, 120, 202), $alpha: 0.1);
        border: 1px solid $couleur__tertiaire--pale;
        border-radius: 5px;
        padding: 15px;
        p{
            font-size: 1.2rem;
        }
    }
}

