/*-------------------------------------------------------- Généralités */
.global{
    // max-width: 1100px;
    padding: 10vh 5vw;
}

.populaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.populaire .global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    background-color: #4979bd;
    justify-content: center;
}