/*-------------------------------------------------------- .hero */
.hero {
    background-image: url("images/maldives.jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &__titre {
        font-size: clamp(4.5rem, 3vw, 5rem);
        font-weight: normal;
        color: $couleur__principale;
        // text-shadow: 3px 3px 4px $couleur__secondaire;
        margin: 25px;
    }

    &__contenu {
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icone {
        padding: 20px 0;
    }

    &__description {
        max-width: 700px;
    }

    &__courriel a{
        text-decoration: none;
    }

    &__coord{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__titre{
            font-family: $_police__soustitre;
            font-weight: normal;
        }

        &__infos{
            display: flex;
            gap: 1.5vw;
        }
    }

    &__courriel,
    &__adresse,
    &__telephone {
        // font-size: 1.2rem;
        font-size: clamp(1rem, 0.8568rem + 0.286vw, 1.2rem);
        font-weight: bold;
    }

    &__promo,
    &__description{
        font-size: clamp(2rem, 0.8568rem + 0.286vw, 1.2rem);
        font-family: $_police__titre__secondaire;
        margin: 0;
    }
    
    &__bntinscription {
        font-family: $_police__soustitre;
        box-sizing: border-box;
        background-color: $couleur__tertiaire--pale;
        border: none;
        border-radius: 3px;
        padding: 7px 20px;
        margin: 30px;
        text-transform: uppercase;
    }
}