.hero__animation{
    display: none;
    &--active{
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero__titre, .hero__description{
            position: relative;
            // opacity: 0;
            // transform: translateY(-1000px);
            animation: contenu linear 1s forwards;
        }
    }
}

.hero__titre{
    transform: translateY(-1000px);
    opacity: 0;
}

.hero__description{
    transform: translateY(-1000px);
    animation-delay: 1s;
    opacity: 0;
}

@keyframes contenu{
    100% {
        transform: translateY(0); 
        opacity: 100;
    }
}