/*-------------------------------------------------------- .hero */
.hero{
    background-image: url("images/maldives.jpg");
    min-height: 100vh;
    background-size: cover;
    &__titre{
        font-family: Arial, Helvetica, sans-serif;
        color: $couleur__principale;
        text-shadow: 3px 3px 4px $couleur__secondaire;
    }
    &__contenu{
        max-width: 1000px;
    }
    &__icone{
        padding: 20px 0;
    }
    &__inscription{
        box-sizing: border-box;
        background-color: $couleur__tertiaire;
        border: 1px solid $couleur__principale;
        border-radius: 3px;
        color: white;
        padding: 7px;
        text-transform: uppercase;
    }
    p{
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
}