/*-------------------------------------------------------- Variables pour les couleurs */
$couleur__lien : #1b4781;
$couleur__lien--fonce : #020e1f;
$couleur__lien--pale : #4979bd;

$couleur__principale : #fff9f9;
$couleur__secondaire : #254086;
$couleur__secondaire--pale : #4979bd;
$couleur__secondaire--trespale : #A1CFE9;
$couleur__secondaire--foncee : #10305a;
$couleur__tertiaire : #c09137;
$couleur__tertiaire--pale : #F3C366;

$couleur__gris : #ddd;
$couleur__gris--pale : #ddd;
$couleur__gris--fonce : #ddd;