/*-------------------------------------------------------- Variables pour les polices */
/*--------------------------------------------------Familles de police*/
$_police__titre : "Italiana", sans-serif;
$_police__titre__secondaire : "Arima", system-ui;
$_police__soustitre : "Arsenal SC", sans-serif;
$_police__paragraphe : "Arsenal", sans-serif;
