/*-------------------------------------------------------- Variables pour les polices */

/*--------------------------------------------------Familles de police*/
$_police__titre : "Italiana", sans-serif;
$_police__soustitre : "Arsenal SC", sans-serif;
$_police__paragraphe : "Arsenal", sans-serif;

/*--------------------------------------------------Tailles de police*/
// $_police__titre : ;
// $_fontsize__soustitre : ;
// $_fontsize__paragraphe : ;

/*--------------------------------------------------Graisses de police*/
// $_police__titre : ;
// $_police__soustitre : ;
// $_police__paragraphe : ;