.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px 20px 0px $couleur__gris--pale;

    &--grande{
        // flex: 1 1 250px;
        margin: 20px;
        width: 40vw;
        max-width: 550px;
    }

    &__image{
        img{
            width: 100%;
        }
    }

    &__contenu{

    }

    &__titre{

    }

    &__description{

    }

    &__bouton{
        background-color: $couleur__secondaire--pale;
        padding: 7px;
        border-radius: 10px;
        color: white;
        &--actif{

        }
    }
}