.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px 20px 0px;

    &--grande{
        // flex: 1 1 250px;
        width: 40vw;
    }

    &__image{
        img{
            width: 100%;
        }
    }

    &__contenu{
        background-color: aliceblue;
    }

    &__titre{

    }

    &__description{

    }

    &__bouton{
        &--actif{

        }
    }
}