/*-------------------------------------------------------- .formulaire */
.formulaire {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;

    &__contenu {
        display: flex;
        flex-direction: row;
        flex: auto;
        align-items: flex-end;
        justify-content: center;
        padding: 20px;
        margin: 10px;
        gap: 20px;
        background-color: $couleur__principale;
        box-shadow: 0px 4px 6px #aaa;
        min-width: 655px;
        max-width: 60vw;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            min-width: 150px;
            max-width: 350px;
        }
    }

    &__case {
        width: 100%;
    }

    &__input,
    &__bntinscription {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $couleur__tertiaire;
        padding: 7px;
    }

    &__bntinscription {
        color: $couleur__secondaire;
        background-color: $couleur__principale;
        text-transform: uppercase;
    }

    &__information {
        font-size: 1rem;
        margin: 0;
    }
}