/*-------------------------------------------------------- .recherche */
.recherche {
    display: flex;
    height: 1.6rem;
    border: 1px solid #000;
    padding: 5px;
    // Le & prend la valeur du sélecteur parent
    &__input {
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.01);
        flex: 1 0 auto;
        padding: 3px;
        width: 100%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &::placeholder {
            color: rgba(0, 0, 0, 0.1);
            font-style: italic;
        }
    }

    &__img {
        flex: 0 0 20px;
        padding: 3px;
    }

    &__input::placeholder
    {
        font-style: normal;
        color: #888;
    }

    &__bouton{
        position: relative;
        left: -28px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
    }

    //Requête média
    @media screen and (max-width: 800px) {
        display: none;
    }
}